@use '@angular/material' as mat;

:host {
  @include mat.list-overrides(
    (
      list-item-leading-icon-size: 36px,
    )
  );
  @include mat.divider-overrides(
    (
      color: var(--mat-sys-outline-variant),
    )
  );
}
